.footer {
  background-color: #000;
  padding-bottom: 100px;
  .biznext_box {
    padding-top: 50px;
    display: flex;
    align-items: center;
    img {
      padding-right: 50px;
    }
    h3 {
      color: #fff;
      padding-top: 5px;
    }
  }
  .number {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    padding-top: 50px;
    padding-bottom: 50px;

    .number_box {
      p {
        color: darkgray;
      }
      button {
        cursor: pointer;
        border-style: none;
        padding: 8px 15px;
        background-color: coral;
        color: #fff;
      }
    }
    .links {
      padding-left: 40px;
      ul li {
        list-style: none;
        padding-bottom: 10px;
        a {
          text-decoration: none;
          color: darkgray;
        }
      }
    }
  }
  .links:nth-child(3) {
    padding-left: 0;
  }
  .info {
    .link {
      a {
        text-decoration: none;
        font-size: 31px;
        padding-right: 18px;
        background: linear-gradient(180deg, #0052ff 33.93%, #ffffff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
      a:nth-child(2) {
        background: linear-gradient(
          180deg,
          #09bbff 19.64%,
          rgba(255, 255, 255, 0.96) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
      a:nth-child(3) {
        background: linear-gradient(
          180deg,
          #ff014f 19.64%,
          rgba(255, 255, 255, 0.96) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
      a:nth-child(4) {
        background: linear-gradient(
          157.57deg,
          #565bc9 30.91%,
          #cc3385 90.95%,
          #f69e54 99.45%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
    h2 {
      color: #fff;
      background-color: lear;
    }
  }
  hr {
    height: 1px;
    background-color: rgb(149, 149, 149);
  }
  .copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: darkgray;
    .cop {
      display: flex;
      align-items: center;
      h6 {
        padding-left: 15px;
        color: darkgray;
      }
    }
  }
}
